<nav class="navbar navbar-expand-md navbar-dark bg-primary  mb-4">
    <div class="container">
        <a routerLink= '/' class="navbar-brand">INFRAGISTICS GRID</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarMain">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarMain">

            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a routerLink = '/' class="nav-link text-white">GRID ONE</a>
                </li>
                <li class="nav-item">
                    <a routerLink = '/grid-two' class="nav-link text-white">GRID TWO</a>
                </li>
                <li class="nav-item">
                    <a routerLink ='/grid-three' class="nav-link text-white">GRID THREE</a>
                </li>
                <li class="nav-item">
                    <a routerLink ='/grid-four' class="nav-link text-white">GRID FOUR</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
